# http://editorconfig.org
root = true

[*.js]
indent_size = 2
indent_style = space

[*.mjs]
indent_size = 2
indent_style = space

[*.ts]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space

[*.yml]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false
